<div class="class">
    <div class="card-body">
        <h1>Acerca de nosotros</h1>
        <p>Nos especializamos guardar informacion de tus perros para poder consevarla y no asi evitar la perdida de datos de tus perros queridos, guardamos: El nombre del dueño, La descripción del problema del perrom, La raza del perro y el tamaño de tu perro.</p>
    </div>
</div>