<div class="class">
    <div class="card-body">
        <h1>Acerca de nosotros</h1>
        <p>Nos especializamos en guardar informacion de tus perros para poder consevarla y asi evitar la perdida de datos de tus queridos amigos, guardamos: El nombre del dueño, La descripción del problema del perro, La raza del perro y el tamaño de tu perro.</p>
    </div>
</div>